GOOGLE_SERVICE_ACCOUNT_JSON=credentials/google-service-account.json
# In GitHub Actions GOOGLE_SERVICE_ACCOUNT_JSON can contain raw JSON.
# GOOGLE_SERVICE_ACCOUNT_JSON_BASE64 can also contain base64-encoded raw JSON.
# Or use these two instead of GOOGLE_SERVICE_ACCOUNT_JSON:
# GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
# GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_TITLE=Отчетики
GOOGLE_SHARE_EMAIL=you@example.com
